{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
	<base href="#">
	<meta charset="utf-8">
	<meta name="author" content="Softnio">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="{% static 'dash/./images/favicon.png' %}">
	<!-- Page Title  -->
	<title>LVQ</title>
	{% block export-css %}

	{% endblock export-css %}
	<!-- StyleSheets  -->
	<link rel="stylesheet" href="{% static 'dash/./assets/css/dashlite.css' %}">
	<link id="skin-default" rel="stylesheet" href="{% static 'dash/./assets/css/theme.css' %}">

	{% block css %}

	{% endblock css %}
</head>

<body class="nk-body bg-lighter npc-general has-sidebar ">
	<div class="nk-app-root">
		<!-- main @s -->
		<div class="nk-main ">
			<!-- sidebar @s -->
			<div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
				<div class="nk-sidebar-element nk-sidebar-head">
					<div class="nk-sidebar-brand">
						<a href="{% static 'dash/html/index.html' %}" class="logo-link nk-sidebar-logo">
							<img class="logo-light logo-img" src="{% static 'dash/./images/logo.png' %}" srcset="./images/logo2x.png 2x" alt="logo">
							<img class="logo-dark logo-img" src="{% static 'dash/./images/logo-dark.png' %}" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
						</a>
					</div>
					<div class="nk-menu-trigger mr-n2">
						<a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
					</div>
				</div><!-- .nk-sidebar-element -->
				<div class="nk-sidebar-element">
					<div class="nk-sidebar-content">
						<div class="nk-sidebar-menu" data-simplebar>
							<ul class="nk-menu">
								<li class="nk-menu-item">
									<a href="{% static 'dash/html/index.html' %}" class="nk-menu-link">
										<span class="nk-menu-icon"><em class="icon ni ni-circle"></em></span>
										<span class="nk-menu-text">Home</span>
									</a>
								</li>
								<li class="nk-menu-item">
									<a href="{% url 'lvq/data_master' %}" class="nk-menu-link">
										<span class="nk-menu-icon"><em class="icon ni ni-circle"></em></span>
										<span class="nk-menu-text">Data Master</span>
									</a>
								</li>
								<li class="nk-menu-item">
									<a href="{% url 'lvq/preprocessing' %}" class="nk-menu-link">
										<span class="nk-menu-icon"><em class="icon ni ni-circle"></em></span>
										<span class="nk-menu-text">Preprocessing</span>
									</a>
								</li>
								<li class="nk-menu-item">
									<a href="{% url 'lvq/pelatihan' %}" class="nk-menu-link">
										<span class="nk-menu-icon"><em class="icon ni ni-circle"></em></span>
										<span class="nk-menu-text">LVQ</span>
									</a>
								</li>
							</ul><!-- .nk-menu -->
						</div><!-- .nk-sidebar-menu -->
					</div><!-- .nk-sidebar-content -->
				</div><!-- .nk-sidebar-element -->
			</div>
			<!-- sidebar @e -->
			<!-- wrap @s -->
			<div class="nk-wrap ">
				<!-- main header @s -->
				<div class="nk-header nk-header-fixed is-light">
					<div class="container-fluid">
						<div class="nk-header-wrap">
							<div class="nk-menu-trigger d-xl-none ml-n1">
								<a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
							</div>
							<div class="nk-header-brand d-xl-none">
								<a href="{% static 'dash/html/index.html' %}" class="logo-link">
									<img class="logo-light logo-img" src="{% static 'dash/./images/logo.png' %}" srcset="./images/logo2x.png 2x" alt="logo">
									<img class="logo-dark logo-img" src="{% static 'dash/./images/logo-dark.png' %}" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
								</a>
							</div><!-- .nk-header-brand -->
							<div class="nk-header-news d-none d-xl-block">
								<div class="nk-news-list">
									<a class="nk-news-item" href="#">
										<div class="nk-news-icon">
											<em class="icon ni ni-card-view"></em>
										</div>
										<div class="nk-news-text">
											<p></p>
											<em class="icon ni ni-external"></em>
										</div>
									</a>
								</div>
							</div><!-- .nk-header-news -->
							<div class="nk-header-tools">
								<ul class="nk-quick-nav">
									<li class="dropdown user-dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<div class="user-toggle">
												<div class="user-avatar sm">
													<em class="icon ni ni-user-alt"></em>
												</div>
												<div class="user-info d-none d-md-block">
													<div class="user-status">Administrator</div>
													<div class="user-name dropdown-indicator">Admin</div>
												</div>
											</div>
										</a>
										<div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
											<div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
												<div class="user-card">
													<div class="user-avatar">
														<span>AB</span>
													</div>
													<div class="user-info">
														<span class="lead-text">Abu Bin Ishtiyak</span>
														<span class="sub-text">info@softnio.com</span>
													</div>
												</div>
											</div>
											<div class="dropdown-inner">
												<ul class="link-list">
													<li><a href="{% static 'dash/html/user-profile-regular.html' %}"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
													<li><a href="{% static 'dash/html/user-profile-setting.html' %}"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
													<li><a href="{% static 'dash/html/user-profile-activity.html' %}"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li>
													<li><a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li>
												</ul>
											</div>
											<div class="dropdown-inner">
												<ul class="link-list">
													<li><a href="#"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
												</ul>
											</div>
										</div>
									</li><!-- .dropdown -->
									<!-- .dropdown -->
								</ul><!-- .nk-quick-nav -->
							</div><!-- .nk-header-tools -->
						</div><!-- .nk-header-wrap -->
					</div><!-- .container-fliud -->
				</div>
				<!-- main header @e -->
				<!-- content @s -->
				<div class="nk-content ">
					<div class="container-fluid">
						<div class="nk-content-inner">
							<div class="nk-content-body">
								{% block content %}

								{% endblock content %}
							</div>
						</div>
					</div>
				</div>
				<!-- content @e -->
				<!-- footer @s -->
				<div class="nk-footer">
					<div class="container-fluid">
						<div class="nk-footer-wrap">
							<div class="nk-footer-copyright"> &copy; 2020 
							</div>

						</div>
					</div>
				</div>
				<!-- footer @e -->
			</div>
			<!-- wrap @e -->
		</div>
		<!-- main @e -->
	</div>
	<!-- app-root @e -->
	<!-- JavaScript -->
	<script src="{% static 'dash/./assets/js/bundle.js' %}"></script>
	<script src="{% static 'dash/./assets/js/scripts.js' %}"></script>
	<script src="{% static 'plugins/axios/axios.min.js' %}"></script>
	<script>
		function extend(obj, ext) {
			Object.keys(ext).forEach(function (key) {
				obj[key] = ext[key];
			});
			return obj;
		} 
		function makeDataTable(elm, opt) {
			var auto_responsive = $(elm).data('auto-responsive');
			var dom_normal = '<"row justify-between g-2"<"col-7 col-sm-6 text-left"f><"col-5 col-sm-6 text-right"<"datatable-filter"l>>><"datatable-wrap my-3"t><"row align-items-center"<"col-7 col-sm-12 col-md-9"p><"col-5 col-sm-12 col-md-3 text-left text-md-right"i>>';
			var dom_separate = '<"row justify-between g-2"<"col-7 col-sm-6 text-left"f><"col-5 col-sm-6 text-right"<"datatable-filter"l>>><"my-3"t><"row align-items-center"<"col-7 col-sm-12 col-md-9"p><"col-5 col-sm-12 col-md-3 text-left text-md-right"i>>';
			var dom = $(elm).hasClass('is-separate') ? dom_separate : dom_normal;
			var def = {
				responsive: true,
				autoWidth: false,
				dom: dom,
				language: {
					search: "",
					searchPlaceholder: "Type in to Search",
					lengthMenu: "<span class='d-none d-sm-inline-block'>Show</span><div class='form-control-select'> _MENU_ </div>",
					info: "_START_ -_END_ of _TOTAL_",
					infoEmpty: "No records found",
					infoFiltered: "( Total _MAX_  )",
					paginate: {
						"first": "First",
						"last": "Last",
						"next": "Next",
						"previous": "Prev"
					}
				}
			},
			attr = opt ? extend(def, opt) : def;
			attr = auto_responsive === false ? extend(attr, {
				responsive: false
			}) : attr;
			return $(elm).DataTable(attr);
		}
	</script>
	{% block export-js %}

	{% endblock export-js %}


	{% block js %}

	{% endblock js %}
</body>

</html>